@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&display=swap');
.Kosar{
    border-radius: 10px;
    margin: 2rem;
    padding: .5rem;
    display: grid;
    grid-template-columns: 100%;
    position: absolute;
    width: fit-content;
    border-radius: 12px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    overflow-y: auto;
    right: 0;
    top:6%;
    max-height: 255px;
    
}

.Kosar .Kep{
    display: grid;
    grid-template-areas: "kep cim ar torol";
    align-items: center;
    justify-content: center;
    background-color:transparent;
    height: 50px;
    margin-bottom: .25rem;
}
.dollar{
    color:rgb(88, 144, 4);
}
.Kosar .Kep img{
    width: 50px;
    height: 50px;
}
.Kosar .ertekeles{
    padding: 0;
}
.Kosar .Kep .cim{
    width:200px;
    grid-area: cim;
    background-color: transparent;
    color:black;
}
.Kosar .Kep .ar{
    width:100px;
    grid-area: ar;
    background-color: transparent;
}
.Kosar .Kep .kep{
    
    grid-area: kep;
}
.Kosar .Kep button{
    grid-area: torol;
    padding: .5rem;
    border: none;
    background: transparent;
    color: red;
    font-weight: 800;
    font-size: 1.1rem;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Kosar-darab{
    display: flex;
    align-items: center;
    
}
.darab-badge{
    font-size: 1.1rem;
    padding: .25rem;
  
    border-radius: 5px;
    
    font-weight: 600;
    font-family: 'IBM Plex Sans Condensed', sans-serif;

}
.Vegosszeg{
    border-top:1px solid deeppink;
    margin-top: 1rem;
    background-color: white;
    padding-bottom: .5rem;

    padding-top: .5rem;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    text-indent: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
   
}
.Vegosszeg-ar{
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.Vegosszeg .Button-Group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.Urit,.Fizet{
    background-color: rgb(248, 58, 89);
    color:white;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1rem;
    margin-right: .5rem;
    cursor: pointer;
    width: 100px;
}

.Fizet{
    background-color:rgb(161, 7, 38);
}