
.Kosar-Termekek{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5rem;
    
}
.Termekek{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    justify-content: center;
    gap: 2.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    background-color: transparent;
    border-radius: 12px;
    
    
}

html{
    width: 100vw;
    overflow-x: hidden;
    background-image: url("../kepek/blured.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    zoom:70%;
    margin: auto;
}



.bg{
    display: block;
    width: 100vw;
    height: 20vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Oooh+Baby&display=swap');
.bg .cursive{
    font-family: 'Oooh Baby', cursive;
    font-size: 50px;
    text-align: center;
    display: block;
    color:rgb(243, 53, 85);
    font-weight:600;
}
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap');
.bg .vastag{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color:rgb(243, 53, 85);
    font-weight: 800;
    
}